.navbar {
  width: 100%;
  margin: 0;
  height: 56px;
  padding: 0 1.5rem;
  background-color: #454545;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  position: fixed;
  font-size: 1.1rem;
  transition: 0.3s;
}

.logo-section {
  height: 100%;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: white;
}

.logo {
  height: 100%;
  filter: brightness(100);
  transition: 0.1s;
  &:active {
    scale: 110%;
    transition: 0.1s;
  }
}

ul {
  display: flex;
  gap: 2rem;
  margin-left: 10px;
}

li {
  list-style: none;
}

.navbar-item {
  color: white;
  text-decoration: none;
  padding: 0.45rem 1rem;
  border-radius: 200px;
  transition: 0.3s;
  border: 1px solid rgba(256, 256, 256, 0);
  &:hover {
    transition: 0.3s;
    border: 1px solid rgba(256, 256, 256, 1);
    filter: drop-shadow(0 0 0.2rem rgba(256, 256, 256, 0.5));
  }
}

.navbar-projects {
  background-color: #cfcfcf;
  .logo-section p {
    color: #454545;
  }

  .navbar-item {
    transition: 0.3s;
    color: #454545;
    &:hover {
      border: 1px solid #454545;
      transition: 0.3s;
      filter: drop-shadow(0 0 0.2rem rgba(69, 69, 69, 0.2));
    }
  }
  .logo {
    filter: brightness();
  }
}
