.design {
  width: 85vw;
  margin: auto;
  padding: calc(54px + 1rem) 0 1.5rem ;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.design-title {
  display: flex;
  color: #454545;
  flex-direction: column;
  align-items: center;
}

.design-title-main {
  margin: auto;
  padding-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  img {
    height: 3rem;
    @media (width < 481px) {
      align-self: center;
    }
  }
  @media (width < 756px) {
    text-align: center;
    padding: 1rem 4rem 0 4rem;
  }
}

.artCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: 0.3s;
  img {
    display: flex;
    height: 20rem;
  }
  p {
    color: #454545;
  }
  &:hover {
    transform: translateY(-0.2rem);
    transition: 0.3s;
  }
  @media (width < 759px) {
    align-items: center;
    max-width: 90vw;
    scale: 90%;
  }
}

.design-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  @media (width < 759px) {
    gap: 0;
  }
}
